#button-container a {
   width: 18rem;
   height: 6rem;
   border-radius: 6px;
   background: var(--color-button);

   font-size: 2rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   text-decoration: none;
   color: var(--color-white);

   display: flex;
   justify-content: center;
   align-items: center;
}