.container {
   font-size: 2.4rem;
   color: var(--color-text-primary);
}

.main.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url(../../assets/pics/923.jpg);
   background-position: center;
   background-size: cover;
}

.wrapper {
   width: 80vw;
   height: 75vh;
   max-width: 280px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.avatar.menu {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.avatar.menu span {
   font-size: 1.6rem;
   margin-bottom: 1rem;
}

.avatar.container {
   border-radius: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 2.8rem;
   padding: 2.2rem 2.6rem;
   justify-items: center;
   background: var(--color-background-secondary);
}

.avatar.container img {
   width: 6.2rem;
}

.nickname.container {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.nickname.container span {
   width: 60vw;
   max-width: 280px;
   font-size: 1.6rem;
   margin-bottom: 1rem;
}

.nickname.menu {
   width: 100%;
   height: 20vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

#nickname-input {
   height: 35px;
   border-radius: 7px;
   border: var(--color-text-primary) solid 1px;
   outline: none;
   padding: 0 10px;
}