button {
   border-radius: 100%;
   width: 6.2rem;
   height: 6.2rem;
   padding: 0;
   outline: none;
   border: none;
}

button:focus{
   border: 3px solid #D2691E;
}

button img {
   width: 100%;
}